<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.solvd.deliveryservice.dao.IOrderMenuDAO">
    <resultMap type = "com.solvd.deliveryservice.databasemodel.order.OrderMenu" id = "OrderMenuResultMap" autoMapping = "false">
        <id column = "id" property = "id"/>
        <association property="order" resultMap  = "com.solvd.deliveryservice.dao.IOrderDAODAO.OrderResultMap"/>
        <association property="menuItem" resultMap  = "com.solvd.deliveryservice.dao.IMenuItemDAO.MenuItemResultMap"/>

    </resultMap>

    <insert id = "insert" useGeneratedKeys = "true" keyProperty = "id">
        <![CDATA[
        Insert into OrderMenus (name)
        Values (#{name})
        ]]>
    </insert>

    <update id = "update">
        <![CDATA[
        Update OrderMenus
        Set
            name=#{name}
        Where id =#{id}
        ]]>
    </update>

    <delete id = "delete">
        <![CDATA[
        Delete From OrderMenus Where id = #{id}
        ]]>
    </delete>

    <select id = "findById" resultMap = "CityResultMap">
        <![CDATA[
        Select * From OrderMenus o
        Left Join Orders or ON o.orderId=or.id
        Left Join MenuItems m ON o.menuItemId=m.id
        Where id = #{id}
        ]]>
    </select>

</mapper>