<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.solvd.deliveryservice.dao.IStatusDAO">
    <resultMap type = "com.solvd.deliveryservice.databasemodel.order.Status" id = "StatusResultMap" autoMapping = "false">
        <id column = "id" property = "id"/>
        <result column = "name" property = "name"/>

    </resultMap>

    <insert id = "insert" useGeneratedKeys = "true" keyProperty = "id">
        <![CDATA[
        Insert into Statuses (name)
        Values (#{name})
        ]]>

    </insert>

    <update id = "update">
        <![CDATA[
        Update Statuses
        Set
            name=#{name}
        Where id =#{id}
        ]]>
    </update>

    <delete id = "delete">
        <![CDATA[
        Delete From Statuses Where id = #{id}
        ]]>
    </delete>

    <select id = "findById" resultMap = "StatusResultMap">
        <![CDATA[
        Select * From Statuses

        Where id = #{id}
        ]]>
    </select>

</mapper>